body {
  margin: 0px;
  background-color: #f6f6f6;
}

.fonctionnement {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 40px;
}
.fonctionnement h2 {
  padding-left: 20px;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 20px;
}

.main_menu {
  position: relative;
  top: -52px;
}

body {
  font-family: "Roboto", sans-serif;
}

.introduction .localisation p {
  font-weight: 700;
}
.introduction p {
  font-weight: 300;
}

.restaurants p {
  font-weight: 300;
}

footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
}
footer li {
  font-size: 15px;
}

.restaurant_name h1 {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  font-size: 30px;
}

.menu h2 {
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 20px;
}
.menu p {
  font-weight: lighter;
}
.menu .price {
  font-weight: bolder;
}

header {
  display: flex;
  margin: 15px;
  flex-direction: row-reverse;
  align-items: baseline;
  padding: 0px 20px;
}
header a i {
  font-size: 20px;
  color: #353535;
}

.introduction {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 10px 40px 10px;
}
.introduction .localisation {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: inset 0 6px 10px -10px #000000;
  padding: 10px;
}
.introduction .localisation i {
  margin-right: 10px;
}
.introduction .localisation input {
  border-style: none;
  background: none;
  padding: 5px;
  width: 125px;
  height: 100%;
  font-size: 14px;
  font-family: "Roboto";
}
.introduction h1 {
  margin-bottom: 0px;
}

button {
  background: linear-gradient(-5deg, #9356DC, #FF79DA);
  height: 40px;
  padding: 5px 20px;
  color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 3px 7px 0px #afafaf;
  transform: scale(1.2);
  margin: 20px;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}

footer {
  background-color: #353535;
  color: white;
  padding: 20px;
}
footer h3 {
  margin: 0px;
}
footer ul {
  list-style: none;
  line-height: 25px;
  padding: 0;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer ul li a i {
  font-size: 12px;
  width: 20px;
}

.card {
  height: 250px;
  background-color: white;
  box-shadow: 0px 0px 6px 0px #0000002e;
  border-radius: 13px;
  margin-bottom: 20px;
}
.card a {
  color: black;
  text-decoration: none;
}
.card a .card-image {
  position: relative;
}
.card a .card-image img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  border-radius: 13px 13px 0px 0px;
}
.card a .card-image .new {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #99E2D0;
  color: #008766;
  padding: 5px 10px;
  border-radius: 3px;
}
.card a .card-footer {
  padding: 10px;
  position: relative;
  /*

              i {
                  position: absolute;
                  top: 15px;
                  right: 20px;
                  font-size: 25px;
                  &.fa-solid {
                      color: transparent;
                      &:hover {
                          background-image: linear-gradient(to left, #9356DC, #FF79DA);
                          -webkit-background-clip: text;
                          -moz-background-clip: text;
                          background-clip: text;
                      }
                  }
              }
              */
}
.card a .card-footer h3, .card a .card-footer p {
  margin: 0px;
}
.card a .card-footer i {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 25px;
}
.card a .card-footer i.fa-regular {
  z-index: 1;
  background-color: white;
  transform: scale(1);
  transform-origin: 0% 0%;
}
.card a .card-footer i.fa-regular:hover {
  color: white;
  transform: scaleY(0);
  transition: transform 1s;
}
.card a .card-footer i.fa-solid {
  color: transparent;
  background-image: linear-gradient(to left, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.step_card {
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 2px 10px 0px #0000002e;
  display: flex;
  position: relative;
  margin: 20px;
  height: 60px;
  align-items: center;
  cursor: pointer;
}
.step_card:hover {
  background-color: #f5edff;
}
.step_card:hover i {
  color: #9356DC;
}
.step_card .number {
  border-radius: 100%;
  width: 22px;
  height: 22px;
  background-color: #9356DC;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
  font-size: 14px;
  font-weight: lighter;
}
.step_card i {
  color: #7e7e7e;
  margin-left: 30px;
  margin-right: 20px;
}

.menu {
  background-color: #f6f6f6;
  padding-top: 20px;
  border-radius: 50px 50px 0px 0px;
  display: flex;
  flex-direction: column;
}
.menu h1, .menu h2 {
  margin: 20px 15px 5px 15px;
}

.banner {
  height: 250px;
}
.banner img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.card_menu {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 2px 10px 0px #0000002e;
  margin: 15px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  animation: card_appear 1s;
  animation-fill-mode: backwards;
  position: relative;
  cursor: pointer;
}
.card_menu.card_1 {
  animation-delay: 200ms;
}
.card_menu.card_2 {
  animation-delay: 400ms;
}
.card_menu.card_3 {
  animation-delay: 600ms;
}
.card_menu.card_4 {
  animation-delay: 800ms;
}
.card_menu:hover > .card_menu_bar {
  transform: scaleX(1);
}
.card_menu:hover > .card_menu_bar i {
  transform: rotate(0deg);
  transition: transform 1s;
}
.card_menu:hover > .price {
  padding-right: 20%;
  transition: 0.5s;
}
.card_menu .card_menu_detail {
  padding: 10px 10px 5px 10px;
  overflow: hidden;
}
.card_menu .card_menu_detail h3 {
  margin: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 400px;
}
.card_menu .card_menu_detail p {
  max-width: 400px;
  height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 4px 0px;
}
.card_menu .price {
  margin: 4px 10% 4px 0px;
  display: flex;
  align-items: center;
  padding-top: 25px;
}
.card_menu .card_menu_bar {
  background-color: #99E2D0;
  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  position: absolute;
  height: 100%;
  right: -1px;
}
.card_menu .card_menu_bar i {
  color: white;
  font-size: 20px;
  transform: rotate(-360deg);
}

@keyframes card_appear {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.restaurant_name {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.restaurant_name i {
  font-size: 30px;
  margin-right: 20px;
}

.menu_button {
  display: flex;
  justify-content: center;
}
.menu_button button {
  margin: 30px;
  padding: 10px 40px;
}

.underline {
  background-color: #99E2D0;
  height: 3px;
  width: 50px;
  margin-left: 15px;
}
