button {
    background: linear-gradient(-5deg, #9356DC, #FF79DA);
    height: 40px;
    padding: 5px 20px;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 3px 7px 0px #afafaf;
    transform: scale(1.2);
    margin: 20px;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}