body{
    margin: 0px;
    background-color: #f6f6f6;
}

.fonctionnement{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 40px;
    h2{
        padding-left: 20px;
    }
}

.restaurants{
    background-color: #f6f6f6;
    padding: 20px;
}

.main_menu {
    position: relative;
    top: -52px;
}