
body {
    font-family: 'Roboto', sans-serif;
}

.introduction{
    .localisation{
        p{
            font-weight: 700;
        }
    }
    p{
        font-weight: 300;
    }
}

.restaurants {
    p{
        font-weight: 300; 
    }
}

footer {
    h3 {
        font-family: 'Shrikhand', cursive;
        font-weight: lighter;
    }
    li {
        font-size: 15px;
    }
}