.card_menu {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 10px 0px #0000002e;
    padding: 10px 20px 5px 10px;
    margin: 15px;
    h3 {
        margin: 0px;
    }
    .card_menu_detail {
        display: flex;
        justify-content: space-between;
        p {
            min-width: 200px;
            height: 22px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin: 4px 0px;
        }
        .price {
            margin: 4px 0px;
        }
     }
    
}