.card {
    height: 250px;
    background-color: white; 
    box-shadow: 0px 0px 6px 0px #0000002e;
    border-radius: 13px;
    margin-bottom: 20px;
    a { 
        color: black; 
        text-decoration: none;
        .card-image {
            position: relative;
            img {
                height: 180px;
                width: 100%;
                object-fit:cover;
                border-radius: 13px 13px 0px 0px ;
            }
            .new {
                position: absolute;
                right: 15px;
                top: 15px;
                background-color:#99E2D0;
                color: #008766;
                padding: 5px 10px;
                border-radius: 3px;
            }
        }
        .card-footer{
            padding: 10px;
            position: relative;
            h3,p {
                margin: 0px;
            }

            i {
                position: absolute;
                top: 15px;
                right: 20px;
                font-size: 25px;
                &.fa-regular {
                    z-index: 1;
                    background-color: white;
                    transform:  scale(1);
                    transition: transform 2s;
                    transform-origin: 0% 0%;
                    &:hover {
                       color: white;
                       transform:scaleY(0);
                    }
                }
                &.fa-solid {
                    color: transparent;
                    background-image: linear-gradient(to left, #9356DC, #FF79DA);
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    background-clip: text;
        
                }
            }



/*

            i {
                position: absolute;
                top: 15px;
                right: 20px;
                font-size: 25px;
                &.fa-solid {
                    color: transparent;
                    &:hover {
                        background-image: linear-gradient(to left, #9356DC, #FF79DA);
                        -webkit-background-clip: text;
                        -moz-background-clip: text;
                        background-clip: text;
                    }
                }
            }
            */



        }
    }
}