$colors:
hsla(165°, 56%, 74%, 75%)
 hsla(317°, 100%, 74%, 75%)
 hsla(165°, 56%, 74%, 75%)
 hsla(267°, 66%, 60%, 75%);
$size: 2.5em;
$thickness: 0.5em;

$lat: ($size - $thickness) / 2;
$offset: $lat - $thickness;

.loader {
 position: relative;
 width: $size;
 height: $size;
 transform: rotate(165deg);
 
 &:before,
 &:after {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   display: block;
   width: $thickness;
   height: $thickness;
   border-radius: $thickness / 2;
   transform: translate(-50%, -50%);
 }
 
 &:before {
   animation: before 2.5s;
 }
 
 &:after {
   animation: after 2.5s;
 }
}

@keyframes before {
 0% {
   width: $thickness;
   box-shadow:
     $lat (-$offset) nth($colors, 1),
     (-$lat) $offset nth($colors, 3);
 }
 35% {
   width: $size;
   box-shadow:
     0 (-$offset) nth($colors, 1),
     0   $offset  nth($colors, 3);
 }
 70% {
   width: $thickness;
   box-shadow:
     (-$lat) (-$offset) nth($colors, 1),
     $lat $offset nth($colors, 3);
 }
 100% {
   box-shadow:
     $lat (-$offset) nth($colors, 1),
     (-$lat) $offset nth($colors, 3);
 }
}

@keyframes after {
 0% {
   height: $thickness;
   box-shadow:
     $offset $lat nth($colors, 2),
     (-$offset) (-$lat) nth($colors, 4);
 }
 35% {
   height: $size;
   box-shadow:
       $offset  0 nth($colors, 2),
     (-$offset) 0 nth($colors, 4);
 }
 70% {
   height: $thickness;
   box-shadow:
     $offset (-$lat) nth($colors, 2),
     (-$offset) $lat nth($colors, 4);
 }
 100% {
   box-shadow:
     $offset $lat nth($colors, 2),
     (-$offset) (-$lat) nth($colors, 4);
 }
}

.loader {
 position: absolute;
 top: calc(50% - #{$size / 2});
 left: calc(50% - #{$size / 2});
 z-index: 21;
 animation: loader-end;
 animation-fill-mode: forwards;
 animation-delay: 2.5s;
}

@keyframes loader-end {
    from {
        transform: scale(1);   
    }
    to {
        transform: scale(0);   
    }
   }