.menu {
    background-color: #f6f6f6;
    padding-top: 20px;
    border-radius: 50px 50px 0px 0px;
    display: flex;
    flex-direction: column;
    h1,h2 {
        margin: 20px 15px 5px 15px;
    }
}